<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery.js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>

    <!-- 引入easyui的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">
    <!-- 引入uploadify的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/uploadify/uploadify.css">
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',title:'角色列表',width:300">
        <div id="tools">
            角色名:<input class="easyui-textbox" id="roleName">
            <a href="javascript:searchUser()" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
            <a href="javascript:openAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
        </div>
        <!-- 定义角色表格 -->
        <table id="roleTable"></table>
    </div>
    <div data-options="region:'center',title:'权限列表'">
        <!-- 定义面板 -->
        <div class="easyui-panel" data-options="footer:'#footer',fit:true">
            <!-- 隐藏域：放角色的id -->
            <input id="roleid" style="display:none" >

            <!-- 定义权限树 -->
            <ul id="powerTree"></ul>
        </div>
        <!-- 定义面板按钮 -->
        <div id="footer" style="text-align:right">
            <a href="javascript:saveRolePower()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">保存</a>
        </div>

        <!--右键菜单定义如下： -->
        <div id="mm" class="easyui-menu" style="width:120px;">
            <div onclick="append()" data-options="iconCls:'icon-add'">新增</div>
            <div onclick="remove()" data-options="iconCls:'icon-remove'">删除</div>
            <div onclick="update()" data-options="iconCls:'icon-edit'">修改</div>
        </div>
        <!-- 新增权限的对话框 -->
        <div id="poewrDialog" class="easyui-dialog" data-options="title:'新增权限',closed:true,width:300,height:200,modal:true,buttons:'#buttons'">
            名称：<input class="easyui-textbox" id="powerName"><br>
            URL:<input class="easyui-textbox" id="powerUrl">
        </div>
        <!-- 定义对话框的按钮 -->
        <div id="buttons">
            <a href="javascript:savePower()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
            <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
        </div>
    </div>
    <div data-options="region:'east',title:'权限详细列表',width:350">
        <div id="menuTools">
            <a href="javascript:openMenu()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
            <a href="javascript:openShan()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        </div>
        <!-- 定义权限详细表格 -->
        <table id="menuTable"></table>
        <!-- 新增权限详细的对话框 -->
        <div id="menuDialog" class="easyui-dialog" data-options="title:'新增权限详细',closed:true,width:300,height:200,modal:true,buttons:'#menuButtons'">
            <form id="menuForm" method="post">
                <!-- 放权限id -->
                <input id="powerid" name="powerid" type="hidden"><br>
                描述：<input class="easyui-textbox" name="name"><br>
                URL:<input class="easyui-textbox" name="url">
            </form>
        </div>
        <!-- 定义对话框的按钮 -->
        <div id="menuButtons">
            <a href="javascript:saveMenu()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
            <a href="javascript:closeMenuDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        initRoleTable();
        initPowerTree(-1);
        initMenuTable(-1)
    })




    //保存角色权限

    function saveRolePower(){
        //获取角色id
        var roleid = $("#roleid").val();

        //获取选中的和不确定的权限节点的id
        var arr1 = $("#powerTree").tree("getChecked","checked");//获取选中的
        var arr2 = $("#powerTree").tree("getChecked","indeterminate");//获取不确定的
        var ids = "";
        for(var i=0;i<arr1.length;i++){
            //alert(arr1[i].id);
            ids+= ids==""?arr1[i].id:","+arr1[i].id;
        }
        for(var i=0;i<arr2.length;i++){
            //alert(arr2[i].id);
            ids+= ids==""?arr2[i].id:","+arr2[i].id;
        }

        /* 	if(ids==""){
                $.messager.alert("提示","请选择一个节点!","info");
                return;
            } */
        $.ajax({
            url:"../user/saveRolePower",
            type:"post",
            data:{roleid:roleid,ids:ids},
            success:function(){
                //重新加载树
                initPowerTree(roleid);//初始化权限树的数据
                $.messager.alert("提示","修改成功!","info");
            }
        })

    }

    //保存权限详细
    function saveMenu(){
        $("#menuForm").form("submit",{
            url:"../user/saveMenu",
            success:function(){
                //关闭弹框
                closeMenuDialog();
                //刷新表格
                initMenuTable($("#powerid").val());
            }
        })
    }

    //打开新增权限详细弹框
    function openMenu(){
        //判断一下有没有双击
        var powerId = $("#powerId").val();
        if(powerId!=null && powerId!=''){
            //清除表单
            $("#menuForm").form("reset");
            $("#menuDialog").dialog("open");
        }else{
            $.messager.alert("提示","请先选择左侧的树节点","info");
        }
    }
    //关闭新增权限详细弹框
    function closeMenuDialog(){
        $("#menuDialog").dialog("close");
    }
    //初始化权限树的数据
    function initMenuTable(powerid){
        $("#menuTable").datagrid({
            url:"../user/queryMenu?powerid="+powerid,
            columns:[
                [{field:"checkbox",checkbox:true},
                {field:"id",title:"id"},
                {field:"name",title:"描述"},
                {field:"url",title:"url"},
                {field:"tool",title:"操作",formatter:function(value,row,index){
                        var str = "<a href='javascript:openPower1("+row.id+")'>修改</a>";
                        return str;
                    }}
            ]
            ],
            fit:true,
            toolbar:"#menuTools"
        })
    }


    //角色赋权限：回显
    function openPower(roleid){
        $("#roleid").val(roleid);
        initPowerTree(roleid);
    }

    //修改权限节点
    function update(){
        //获取右击选中的节点
        var node = $('#powerTree').tree("getSelected");
        $('#powerTree').tree("beginEdit",node.target);//开始编辑一个节点。
    }



    //打开新增权限详细弹框
    function openMenu(){
        var powerid=$("#powerid").val();
        if (powerid!=null && powerid!='') {
            $("#menuForm").form("reset")
            $("#menuDialog").dialog("open")
        } else {
            $.messager.alert("提示","请先选择左侧的树节点","info")
        }

    }

    //关闭新增权限详细弹框
    function closeMenuDialog(){
        $("#menuDialog").dialog("close");
    }
    //删除权限节点
    function remove(){
        //获取当前选中的节点
        var id = $('#powerTree').tree("getSelected").id;
        //alert(id);
        //删除
        $.ajax({
            url:"../user/deletePowerById",
            type:"post",
            data:{powerid:id},
            success:function(){
                //重新加载树
                $('#powerTree').tree("reload");
            }
        })
    }

    //新增保存权限
    function savePower(){
        var text = $("#powerName").textbox("getValue");
        var url = $("#powerUrl").textbox("getValue");
        //获取pid
        var pid = $('#powerTree').tree("getSelected").id;
        $.ajax({
            url:"../user/addPower",
            type:"post",
            data:{text:text,url:url,pid:pid},
            success:function(){
                //关闭弹框
                closeDialog();
                //重新加载树
                $('#powerTree').tree("reload");
            }
        })
    }

    //打开新增权限弹框
    function append(){
        $("#poewrDialog").dialog("open");
    }

    //关闭新增权限弹框
    function closeDialog(){
        $("#poewrDialog").dialog("close");
    }


    //初始化权限树的数据
    function initPowerTree(roleid){
        $("#powerTree").tree({
            url:"../user/queryPowerTree?roleid="+roleid,
            checkbox:true,
            onContextMenu:function(e, node){
                e.preventDefault();//阻止浏览器默认的右击菜单
                // 查找节点
                $('#powerTree').tree('select', node.target);//选中当前右击的节点
                // 显示快捷菜单
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            },
            onAfterEdit:function(node){
                //去后台修改节点
                //alert(node.text);
                $.ajax({
                    url:"../user/updatePowerById",
                    type:"post",
                    data:{text:node.text,id:node.id},
                    success:function(){
                        //重新加载树
                        $('#powerTree').tree("reload");
                    }
                })
            },
            onDblClick:function(node){
                //给隐藏域赋值
                $("#powerid").val(node.id);
                initMenuTable(node.id);//初始化权限详细数据
            }
        })
    }

    //初始化角色列表
    function initRoleTable(){
        $("#roleTable").datagrid({
            url:"../user/queryRole",
            columns:[
                [
                    {field:"checkbox",checkbox:true},
                {field:"infoid",title:"id"},
                {field:"infoname",title:"角色名"},
                {field:"info",title:"描述"},
                {field:"tool",title:"操作",formatter:function(value,row,index){
                        var str = "<a href='javascript:openUpdate("+row.infoid+")'>修改</a>"+"|"+
                            "<a href='javascript:openPower("+row.infoid+")'>赋权限</a>";
                        return str;

                    }}
            ]
            ],
            fit:true,
            toolbar:"#tools"
        })
    }
</script>
</html>