<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入easyui的css样式 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui的图标css样式 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">
    <!-- 引入jqury的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<table id="tab"></table>
</body>
<script>
$(function(){
    initUserTable();
})


    function initUserTable(){
        $("#userTable").datagrid({
            url:"../queryUserPage",
            columns:[
                [{field:"checkbox",checkbox:true},
                {field:"id",title:"id"},
                {field:"name",title:"用户名"},
                {field:"loginnumber",title:"登录账号"},
                {field:"email",title:"邮箱"},
                {field:"birth",title:"生日"},
                {field:"sex",title:"性别",formatter:function(value,row,index){
                        return value==1?"男":value==2?"女":"";
                    }},
                {field:"datail",title:"简介"},
                {field:"headimg",title:"头像",formatter:function(value,row,index){
                        return "<img src='"+value+"' width='50px' height='50px'>";
                    }},
                {field:"dname",title:"部门"},
                {field:"infoName",title:"角色"},
                {field:"proName",title:"地区",formatter:function(value,row,index){
                        return value +"-"+row.cityName;
                    }},
                {field:"tool",title:"操作",formatter:function(value,row,index){
                        var str = "<a href='javascript:openUpdate("+row.id+")'>修改</a>";
                        return str;
                    }}
            ]
            ],
            pagination:true,
            pageList:[2,4,6,8],
            pageSize:2,
            pageNumber:1,
            fit:true,
            toolbar:"#tools"
        })
    }

</script>

</html>